@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/* Met :root kun je variabelen voor kleur vastzetten. */
:root {
  --background: #27005D;
  --accent: #AED2FF;
  --accent2: #E4F1FF;
  --text: #F4F4F4;
  --black: #2C2C2C;
  --white: #F4F4F4;
}

body {
  /* Margin zorgt ervoor dat er geen extra ruimte om de body is, zodat alles goed aansluit aan de rand van het venster. */
  margin: 0;
  background-color: var(--background);
  font-family: 'Quicksand', sans-serif;
}

.main-container {
  display: flex;
  gap: 16px;
}

.praat {
  /* height zorgt er hier voor dat de verplaatsende tekst geheel van boven naar beneden te zien is. */
  height: 100vh;
  /* width zorgt er hier voor dat de zijwaartse tekst maar 30% van het venster inneemt in de breedte. */
  width: 30%;
  overflow: hidden;
}

.big {
  display: flex;
  /* Align items zorgt ervoor dat alle items in dit geval in het midden worden uitgelijnd. */
  align-items: center;
  transform: rotate(-90deg);
  margin-left: -5em;
}

.scroll {
  white-space: nowrap;
  margin: 0 2em;
}

.scroll div {
  display: flex;
  gap: 2em;
}

.scroll p {
  /* font size bepaalt de grootte van de tekst (het font). */
  font-size: 10em;
  color: var(--text);
  font-weight: bold;
  margin-bottom: 0;
  /* line height zegt iets over de ruimte tussen elke line tekst. */
  line-height: 10px;
}

.right-to-left {
  animation: RightToLeft 300s infinite linear;
}

@keyframes  RightToLeft {
  from {
    transform: translateX(-10%);
  }
  to {
    transform: translateX(-50%);
  }
}

.left-to-right {
  animation: LeftToRight 300s infinite linear;
}

@keyframes  LeftToRight {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}

.main {
  width: 60%;
  display: flex;
  align-items: center;
}

.tile-container {
  /* display zegt iets over hoe je de content displayed: in dit geval in een grid. */
  display: grid;
  grid-template-columns: repeat(2, 25vw);
  gap: 16px;
}

.tile {
  /* background color zegt iets over de achtergrond kleur van in dit geval de tiles */
  background-color: var(--white);
  /* border radius zegt iets over hoe strak de hoek is, hoe meer px hoe ronder. */
  border-radius: 20px;
  margin: 2em;
  /* text align -> center zet de tekst in het midden */
  text-align: center;
  padding: 0.5em;
  padding-top: 4em;
  /* positie zegt iets over de positie, haha. relatief is variabel en hangt af van de parens, relatief staat hij echt op zichzelf en vast. */
  position: relative;
  /* font weight zegt iets over hoe dik de tekst is */
  font-weight: 600;
  font-size: 1.5em;
}

.tile__overview {
  margin-top: 0;
}

.tile__description {
  display: none;
  /* hocus pocus, regel de overflow automatisch! */
  overflow: auto;
}

.tile__button {
  font-size: 3em;
  background-color: transparent;
  border: none;
  width: 64px;
  transition: all .1s ease-in;
  cursor: pointer;
}

.tile__emoji {
  background-color: var(--accent2);
  border-radius: 16px;
  padding: 10px;
  font-size: 2em;
  position: absolute;
  top: -.7em;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 64px;
}

.tile__button:hover {
  transform: scale(1.2);
}

.tile--fullscreen {
  position: absolute;
  z-index: 5;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tile--fullscreen .tile__button {
  /* iets van een transformatie met wat je select, in dit geval flipt de button */
  transform: scaleX(-1);
}

.tile--fullscreen .tile__button:hover {
    /* hier hetzelfde als regel 163 maar dan flip en scale grow! */
  transform: scaleX(-1) scale(1.2);
}

.tile--fullscreen .tile__overview {
  display: none;
}

.tile--fullscreen .tile__description {
  display: unset;
}

.header {
  color: var(--text);
}